.Form_Element_2
    include ./Checkbox_Buttons/Checkbox_Buttons.pug
    include ./Radio_Buttons/Radio_Buttons.pug
    include ./Toggle/Toggle.pug
    include ./like_button/like_button.pug
    include ./rate_button/rate_button.pug
    include ./dropdown/dropdown.pug
    include ./richCheckboxButtons/richCheckboxButtons.pug