.reviews {
    // display: grid;
    // grid-template-columns: 100%;
    // width: 711px;
    // height: 133px;
    // width: 66.67%;
    .reviews-top {
        display: flex;
        margin-bottom: 10px;
        .photo {
            width: 47.67px;
            height: 48px;
            background: url('./../image/image.svg');
            background-position: -22px -12px;
            border: 2px solid #ffffff;
            filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
            border-radius: 32px;
        }
        .name {
            display: inline-block;
            margin-left: 9.93px;
            p {
                span {
                    font-weight: bold;
                }
            }
        }
    }
    .reviews-bottom {
        display: flex;
        .like-button {
            .like-button-like {
                position: relative;
                width: 40px;
                height: 20px;
                border-radius: 10px;
                background-image: url('./../image/like_border.svg');
                background-position: -1px 0;
                span {
                    margin: auto 0 auto 10px;
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 0em;
                    color: $purple;
                    &::before {
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        background: url('./../image/favorite.svg') no-repeat;
                        background-position: 4px 6px;
                    }
                }
            }
        }
        .reviews-text {
            display: inline-block;
            margin-left: 14.31px;
            width: 653px;
        }
    }
}