.reviews {
    // display: grid;
    // grid-template-columns: 100%;
    // width: 711px;
    // height: 133px;
    // width: 66.67%;
    .reviews-top {
        display: flex;
        margin-bottom: 10px;

        .photo {
            width: 48px;
            height: 48px;
            border-radius: 50%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .name {
            display: inline-block;
            margin-left: 9.93px;

            p {
                

                span {
                    font-weight: bold;
                }
            }
        }
    }

    .reviews-bottom {
        display: flex;

        .like-button {

            .like-button-like {
                position: relative;
                width: 40px;
                height: 20px;
                border-radius: 10px;
                background-image: url('./../image/like_border.svg');
                background-position: -1px 0;

                span {
                    margin: auto 0 auto 10px;
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 0em;
                    color: $purple;

                    &::before {
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        background: url('./../image/favorite.svg') no-repeat;
                        background-position: 4px 6px;
                    }
                }
            }
        }

        .reviews-text {
            display: inline-block;
            margin-left: 14.31px;
            
            // height: 72px;
        }
    }
}