.reviews
    .reviews-top
        .photo 
            img(src="./assets/2021-04-15_19-49-55.png" alt="img")
        .name
            p <span>Мурад Сарафанов</span><br>5 дней назад
    .reviews-bottom
        .like-button
            button(type="button" class="like-button-like" name="like-button")
                span 12
        .reviews-text 
            p Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.