.reviews
    .reviews_top
        .photo 
            img(src="./assets/2021-04-15_19-49-55.png" alt="img")
        p(class="name") <span>Мурад Сарафанов</span><br>5 дней назад
    .reviews_bottom
        .like_button
            button(type="button" id="like_button_like" name="like_button")
                span 12
        .reviews_text 
            p Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.