.like-buttons {
    width: 89.72px;
    height: 51px;

    h3 {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 15px;
    }

    .like-buttons-block {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
        .like-button-dislike {
            position: relative;
            width: 40px;
            height: 20px;
            border: 1px solid $dark25;
            border-radius: 10px;
            background-color: white;

            span {
                margin: auto 0 auto 10px;
                align-items: center;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0em;
                color: $dark25;

                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    background: url('./../image/favorite_border.svg') no-repeat;
                    background-position: 3px 5.25px;
                }
            }
        }

        .like-button-like {
            position: relative;
            width: 40px;
            height: 20px;
            border: 1px solid $purple;
            border-radius: 10px;
            background-color: white;

            span {
                margin: auto 0 auto 10px;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0em;
                color: $purple;

                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    background: url('./../image/favorite.svg') no-repeat;
                    background-position: 3px 5.25px;
                }
            }
        }
    }
}