.like-buttons
    h3 like button
    .like-buttons-block
        button(type="button" class="like-button-dislike" name="like-button")
            span 2
        button(type="button" class="like-button-like" name="like-button")
            span 12