.type-fonts {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    max-width: 436px;
    max-height: 320px;
    grid-template-rows: repeat(4, auto);
    row-gap: 50px;
    #h1 {
        @include fontFamily_Montserrat(24px, 400, 29px, right, $dark25);
    }

    #h2 {
        @include fontFamily_Montserrat(19px, 400, 24px, right, $dark25);
    }

    #h3 {
        @include fontFamily_Montserrat(12px, 400, 11px, right, $dark25);
    }

    #p {
        @include fontFamily_Montserrat(14px, 400, 24px, right, $dark25);
    }

    h1 {
        margin: auto 0;
        @include fontFamily_Montserrat(24px, 700, 29px, left, $dark100);
    }

    h2 {
        margin: auto 0;
        @include fontFamily_Montserrat(19px, 700, 24px, left, $dark100);
    }

    h3 {
        margin: auto 0;
        @include fontFamily_Montserrat(12px, 700, 11px, left, $dark100);
        text-transform: uppercase;
    }

    p {
        margin: auto 0;
        max-width: 301px;
        @include fontFamily_Montserrat(14px, 400, 24px, left, $dark75);
    }
}
