.type-fonts {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    max-height: 321px;
    .type-fonts-content {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 25px;
        #h1 {
            @include fontFamily_Montserrat (24px, 400, 29.26px, right, $dark25);
        }

        #h2 {
            @include fontFamily_Montserrat (19px, 400, 23.16px, right, $dark25);
        }

        #h3 {
            @include fontFamily_Montserrat (12px, 400, 14.63px, right, $dark25);
        }

        #p {
            @include fontFamily_Montserrat (14px, 400, 24px, right, $dark25);
        }
    }

    .type-fonts-text {
        display: grid;
        grid-template-rows: repeat(4,1fr);
        row-gap: 25px;
    }
}