.choosing-room-number
    h2 Найдём номера под ваши пожелания
    form(action="#" class="data-dropdown")
        div
            h3 прибытие
            input(type="text" class="form-input data-drop" placeholder="ДД.ММ.ГГГГ")
        div
            h3 выезд
            input(type="text" class="form-input data-drop" placeholder="ДД.ММ.ГГГГ")
    form(action="#" class="form-dropdown")
        h3 гости
        input(type="text" class="form-input" value="Сколько гостей" readonly)
    .button-big
            button(class="big") подобрать номер