.choosing-room-number
    h2 Найдём номера под ваши пожелания
    +dateDropDown("прибытие","выезд","ДД.ММ.ГГГГ")
    +formDropdown("гости")
    //- +btn("подобрать номер")(class="button-big big")
    .button-big
            button(class="big") подобрать номер