form(action="#" class="form-hover-focus")
        label 
            h3 Text field
        label(id="label-right")
            h3 Hover / Focus
        input(type="text" class="form-input" value="This is pretty awesome")