-var textField = "Text field"

form(action="#" class="form-default hover-focus")
    h3 #{textField}
    h3(class="label-right") Hover / Focus
    input(type="text" class="form-input" value="This is pretty awesome")