.hover-focus {
    .form-input {
        @extend %text_field;
        @include fontFamily_Montserrat (14px, 400, 24px, left, $dark75);
        &:hover {
            border: 1px solid $dark50;
            border-radius: 4px;
        }
        &:focus {
            border: 1px solid $dark50;
            border-radius: 4px;
        }
    }
}