.form-element-3 {
    display: grid;
    grid-template-rows: repeat(5, auto);
    row-gap: 20px;
    @import './Range_Slider/Range_Slider.scss';
    @import './buttons/buttons.scss';
    @import './pagination/pagination.scss';
    @import './dropdown/dropdown.scss';
    @import './bullet_list/bullet_list.scss';
}