form(action="#" method="method" class="checkbox__buttons")
    h3 Checkbox Buttons 
    .checkbox_list
        .checkbox_buttons_list
            input(type="checkbox" name="checkbox_buttons_list" id="checkbox_button_1")
            span
                label(for="checkbox_button_1") Можно курить
        .checkbox_buttons_list
            input(type="checkbox" name="checkbox_buttons_list" id="checkbox_button_2")
            span
                label(for="checkbox_button_2") Можно с питомцами
        .checkbox_buttons_list
            input(type="checkbox" name="checkbox_buttons_list" id="checkbox_button_3")
            span
                label(for="checkbox_button_3") Можно пригласить гостей (до 10 человек)
