form(action="#" class="checkbox-buttons")
    h3 Checkbox Buttons 
    .checkbox-list
        .checkbox-list-buttons
            input(type="checkbox" name="checkbox-buttons-list" id="checkbox-button-1")
            span
                label(for="checkbox-button-1") Можно курить
        .checkbox-list-buttons
            input(type="checkbox" name="checkbox-buttons-list" id="checkbox-button-2")
            span
                label(for="checkbox-button-2") Можно с питомцами
        .checkbox-list-buttons
            input(type="checkbox" name="checkbox-buttons-list" id="checkbox-button-3")
            span
                label(for="checkbox-button-3") Можно пригласить гостей (до 10 человек)
