form(action="#" class="data-dropdown")
        div
            label
                h3 date Dropdown
            input(type="text" class="form-input data-dropdown-start" )
        div
            label
                h3 date Dropdown
            input(type="text" class="form-input data-dropdown-finish" value='19.08.2019' )