.cards
    include ./choosing-room-number/choosing-room-number.pug
    include ./selected-room-number/selected-room-number.pug
    include ./calendar/calendar.pug
    include ./account-registration/account-registration.pug