.drop-down-expanded {
    width: 266px;
    .label-left {
        margin-bottom: 5px;
        float: left;
    }
    .label-right {
        margin-bottom: 5px;
        font-weight: 400;
        line-height: 14.63px;
        color: $dark50;
        float: right;
        text-align: end;
    }
    .drop-down-input {
        width: 266px;
        height: 44px;
        padding: 14px;
        border: 1px solid $dark50;
        border-radius: 4px 4px 0 0;
        background: url('./../image/expand_more_75.svg') no-repeat;
        background-position: 236px 18px;
        @include fontFamily_Montserrat (14px,
        400,
        24px,
        left,
        $dark75);
    }
    .drop-down-content {
        display: grid;
        grid-template-rows: repeat(3, auto);
        align-items: center;
        margin: auto 0;
        width: 266px;
        height: 119px;
        padding: 2px 6px 4px 14px;
        border: 1px solid $dark50;
        border-radius: 0 0 4px 4px;
        .content-items {
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            h3 {
                @include fontFamily_Montserrat (12px,
                700,
                16px,
                left,
                $dark100);
            }
            span {
                justify-self: end;
                // text-align: end;
                button {
                    vertical-align: middle;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    border: 1px solid $dark25;
                    border-radius: 22px;
                    @include fontFamily_Montserrat (18px,
                    400,
                    22px,
                    center,
                    $dark50);
                    color: rgba(31, 32, 65, 0.5);
                    background-color: rgba(255, 255, 255, 0);
                    &:disabled {
                        border: 1px solid $dark10;
                        color: $dark25;
                    }
                }
                input[type="number"] {
                    vertical-align: middle;
                    width: 25px;
                    @include fontFamily_Montserrat (12px,
                    700,
                    15px,
                    center,
                    $dark100);
                    color: rgba(31, 32, 65, 1);
                    background-color: rgba(255, 255, 255, 0);
                }
            }
        }
    }
}