form(action="#" class='drop-down-expanded')
    h3(class="label-left") dropdown
    h3(class="label-right") expanded
    input(type="text" class="drop-down-input" name="drop-down-room" value='2 спальни, 2 кровати...' )
    .drop-down-content
        .content-items
            h3 спальни
            span
                button(type="button" class="decrement") -
                input(type="number" value="2" readonly)
                button(type="button" class="increment") +
        .content-items
            h3 кровати
            span
                button(type="button" class="decrement") -
                input(type="number" value="2" readonly)
                button(type="button" class="increment") +
        .content-items
            h3 ванные комнаты
            span
                button(type="button" class="decrement") -
                input(type="number" value="0" readonly)
                button(type="button" class="increment") +