.pagination
    h3 pagination
    ul
        li(class="btn prev")
        li(class="number active") 1
        li(class="number") 2
        li(class="number") 3
        li(class="dots") ...
        li(class="number") 15
        li(class="btn next")
    p 1 – 12 из 100+ вариантов аренды