form(action="#" class='dropdown')
    label
        h3 dropdown
    input(type="text" class="input-dropdown" name="drop-down-number" value='Сколько гостей' )
    div
        h3 взрослые
            span
                button(type="button" disabled) -
                input(type="number", name="drop-down-number" value="0" readonly)
                button(type="button") +
        h3 дети
            span
                button(type="button" disabled) -
                input(type="number", name="drop-down-number" value="0" readonly)
                button(type="button") +
        h3  младенцы
            span
                button(type="button" disabled) -
                input(type="number", name="drop-down-number" value="0" readonly)
                button(type="button") +
        button(type="submit")
            h3 применить