.dropdown {
    width: 320px;
    .label-left {
        margin-bottom: 5px;
        float: left;
    }
    .drop-down-input {
        width: 320px;
        height: 44px;
        padding: 15px;
        border: 1px solid $dark50;
        border-radius: 4px 4px 0 0;
        background: url('./../image/expand_more_75.svg') no-repeat;
        background-position: 290px 18px;
        @include fontFamily_Montserrat (14px,
        400,
        24px,
        left,
        $dark75);
    }
    .drop-down-content {
        display: grid;
        grid-template-rows: repeat(4, auto);
        align-items: center;
        margin: auto 0;
        width: 320px;
        height: 159px;
        padding: 7px 7px 0px 15px;
        border: 1px solid $dark50;
        border-top: none;
        border-radius: 0 0 4px 4px;
        .content-items {
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            h3 {
                @include fontFamily_Montserrat (12px,
                700,
                16px,
                left,
                $dark100);
            }
            span {
                // text-align: end;
                justify-self: end;
                button {
                    vertical-align: middle;
                    // align-items: center;
                    width: 30px;
                    height: 30px;
                    border: 1px solid $dark25;
                    border-radius: 22px;
                    @include fontFamily_Montserrat (18px,
                    400,
                    22px,
                    center,
                    $dark50);
                    background-color: rgba(255, 255, 255, 0);
                    &:disabled {
                        border: 1px solid $dark10;
                        color: $dark25;
                    }
                }
                input[type="number"] {
                    // vertical-align: middle;
                    width: 25px;
                    @include fontFamily_Montserrat (12px,
                    700,
                    15px,
                    center,
                    $dark100);
                }
            }
        }
        .button-down {
            display: grid;
            // grid-template-columns: auto auto;
            button[type=submit] {
                display: inline-block;
                width: 84px;
                height: 30px;
                background-color: rgba(255, 255, 255, 0);
                justify-self: end;
                @include fontFamily_Montserrat (12px,
                700,
                15px,
                left,
                $purple);
                text-transform: uppercase;
            }
        }
    }
}