form(action="#" class='dropdown')
    h3(class="label-left") dropdown
    input(type="text" class="drop-down-input" value='Сколько гостей' )
    .drop-down-content
        .content-items
            h3 взрослые
            span
                button(type="button" class="decrement") -
                input(type="number", name="drop-down-number" value="0" readonly)
                button(type="button" class="increment") +
        .content-items
            h3 дети
            span
                button(type="button" class="decrement") -
                input(type="number", name="drop-down-number" value="0" readonly)
                button(type="button" class="increment") +
        .content-items
            h3  младенцы
            span
                button(type="button" class="decrement") -
                input(type="number", name="drop-down-number" value="0" readonly)
                button(type="button" class="increment") +
        button(type="submit") применить