.Colors_Type {
    display: grid;
    grid-area: Colors_Type;
    grid-template-columns: 2fr 2fr;
    grid-gap: 10px;
    margin-top: 78px;
    margin-left: 78px;
}

.TypeText {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 10px;
}

.Colors {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 10px;
}

%Dark {
    margin: 0 auto;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 6px;
    font-optical-sizing: 2px;
}

.Dark100 {
    @extend %Dark;
    background: rgba(31, 32, 65, 1);
}

.Dark75 {
    @extend %Dark;
    background: rgba(31, 32, 65, 0.75);
}

.Dark50 {
    @extend %Dark;
    background: rgba(31, 32, 65, 0.5);
}

.Dark25 {
    @extend %Dark;
    background: rgba(31, 32, 65, 0.25);
}

.Dark05 {
    @extend %Dark;
    background: rgba(31, 32, 65, 0.05);
}

.Purple {
    @extend %Dark;
    background: rgba(188, 156, 255, 1);
}

.Green {
    @extend %Dark;
    background: rgba(111, 207, 151, 1);
}

.Colors_Type .Colors p {
    font-family: Quicksand;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.Colors_Type .Colors b {
    font-family: Quicksand;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

}

.Colors_Type .Colors span {
    font-family: Quicksand;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.Colors_Type .TypeText body {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

.Colors_Type .TypeTextH1 p {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(31, 32, 65, 0.25);

}

.Colors_Type .TypeTextH1 H1 {
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(31, 32, 65, 1);

}

.Colors_Type .TypeTextH2 p {
    font-family: Montserrat;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(31, 32, 65, 0.25);
}

.Colors_Type .TypeTextH2 H2 {
    font-family: Quicksand;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(31, 32, 65, 1);
}

.Colors_Type .TypeTextH3 p {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(31, 32, 65, 0.25);
}

.Colors_Type .TypeTextH3 H3 {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(31, 32, 65, 1);
}

.Colors_Type .TypeTextBody p {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(31, 32, 65, 0.25);
}