.Colors_Type {
    display: grid;
    grid-area: Colors_Type;
    grid-template-columns: 2fr 2fr;
    grid-gap: 10px;
    margin-top: 60px;
}

.TypeText {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 10px;
}

.Colors {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 10px;
}

%Dark {
    margin: 0 auto;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 6px;
    font-optical-sizing: 2px;
}

$dark100: rgba(31, 32, 65, 1);

.Dark100 {
    @extend %Dark;
    background: $dark100;
}

$dark75: rgba(31, 32, 65, 0.75);

.Dark75 {
    @extend %Dark;
    background: $dark75;
}

$dark50: rgba(31, 32, 65, 0.5);

.Dark50 {
    @extend %Dark;
    background: $dark50;
}

$dark25: rgba(31, 32, 65, 0.25);

.Dark25 {
    @extend %Dark;
    background: $dark25;
}
$dark10: rgba(31, 32, 65, 0.1);
$dark05: rgba(31, 32, 65, 0.05);

.Dark05 {
    @extend %Dark;
    background: $dark05;
}

$purple: rgba(188, 156, 255, 1);

.Purple {
    @extend %Dark;
    background: $purple;
}

$green: rgba(111, 207, 151, 1);

.Green {
    @extend %Dark;
    background: $green;
}

.Colors_Type .Colors p {
    font-family: Quicksand;
    font-size: 19px;
    font-style: normal;
    font-weight: normal;
    line-height: 28.5px;
    letter-spacing: 0em;
    text-align: left;
}

.Colors_Type .Colors b {
    font-family: QuicksandBold;
    font-size: 19px;
    font-style: normal;
    font-weight: bold;
    line-height: 28.5px;
    letter-spacing: 0em;
    text-align: left;

}

.Colors_Type .Colors span {
    font-family: QuicksandBold;
    font-size: 19px;
    font-style: normal;
    font-weight: bold;
    line-height: 23.75px;
    letter-spacing: 0em;
    text-align: left;
}

%body {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $dark75;
}

.Colors_Type .TypeText .TypeTextH1 p {
    @extend %body;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $dark25;

}

.Colors_Type .TypeText H1 {
    font-family: QuicksandBold;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: $dark100;

}

.Colors_Type .TypeText .TypeTextH2 p {
    font-family: Montserrat;
    font-size: 19px;
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: $dark25;
}

.Colors_Type .TypeText H2 {
    font-family: QuicksandBold;
    font-size: 19px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $dark100;
}

.Colors_Type .TypeText .TypeTextH3 p {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: $dark25;
}

.Colors_Type .TypeText H3 {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: $dark100;
    text-transform: uppercase;
}

.Colors_Type .TypeText .TypeTextBody p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: $dark25;

}

.Colors_Type .TypeText p {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $dark75;
}