.Form_Elements {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    margin: 60px;
    padding: 0;
}
%label {
    margin: 0;
    margin-bottom: 5px;
    float: left;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: $dark100;
    text-transform: uppercase;
}
%label_right {
    @extend %label;
    font-weight: normal;
    float: right;
    text-align: right;
    color: $dark50;
}

%Form {
    margin: 20px;
    width: 320px;
}

%Input {
    margin: 0 auto;
    padding: 15px;
    position: relative;
    border: 1px solid $dark25;
    background: rgba(255, 255, 255, 1);
    width: 320px;
    height: 44px;
    box-sizing: border-box;
    border-radius: 4px;
}

%Input_placeholder {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: $dark25;
}

%hover_focus {
    background: #ffffff;
    border: 1px solid $dark50;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
}

$arrow50: url("./../Font/keyboard_arrow_down-24px50.svg") no-repeat;

%select {
    display: block;
    margin: 0;
    padding: 10px;
    position: relative;
    border: 1px solid $dark25;
    background-color: rgba(255, 255, 255, 1);
    width: 320px;
    height: 44px;
    box-sizing: border-box;
    border-radius: 4px;
    appearance: none;
    background: $arrow50;
    background-position: 286px 10px;
}

%select_optional {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $dark75;
}

.Form_Elements .Form .Form1 {
    @extend %Form;
    label {
        @extend %label;
    };
    #label_right {
        @extend %label_right;
    }
}

.Form_Elements .Form .Form1 .Form1_input {
    @extend %Input;
}

.Form_Elements .Form .Form1 ::-webkit-input-placeholder {
    @extend %Input_placeholder;
}

.Form_Elements .Form .Form2 {
    @extend %Form;
    label {
        @extend %label;
    };
    #label_right {
        @extend %label_right
    };
}

.Form_Elements .Form .Form2 .Form2_input {
    @extend %Input;
}

.Form_Elements .Form .Form2 ::-webkit-input-placeholder {
    @extend %Input_placeholder;
    color: $dark75;
}

.Form_Elements .Form .Form2 .Form2_input:hover {
    @extend %hover_focus;
}

.Form_Elements .Form .Form2 .Form2_input:focus {
    @extend %hover_focus;
}

.Form_Elements .Form .Form3 {
    @extend %Form;
    label {
        @extend %label;
    }
}

.Form_Elements .Form .Form3 .Form3_select {
    @extend %select;
}

.Form_Elements .Form .Form3 .Form3_select:optional {
    @extend %select_optional;
}

.Form_Elements .Form .Form4 {
    @extend %Form;
    label {
        @extend %label;
    }
}

.Form_Elements .Form .Form4 .Form4_input {
    @extend %Input;
}

.Form_Elements .Form .Form4 ::-webkit-input-placeholder {
    @extend %Input_placeholder;
}

.Form_Elements .Form .Form5 {
    @extend %Form;
    display: grid;
    grid-template-columns: 2fr 2fr;
    label {
        @extend %label;
    }
}

.Form_Elements .Form .Form5 .Form5_1_select {
    @extend %select;
    width: 150px;
    background-position: 116px 10px;
}

.Form_Elements .Form .Form5 .Form5_2_select {
    @extend %select;
    width: 150px;
    background-position: 116px 10px;
}

.Form_Elements .Form .Form5 .Form5_1_select:optional {
    @extend %select_optional;
    line-height: 18px;
}

.Form_Elements .Form .Form5 .Form5_2_select:optional {
    @extend %select_optional;
}

.Form_Elements .Form .Form6 {
    @extend %Form;
    width: 266px;
    label {
        @extend %label;
    }
}

.Form_Elements .Form .Form6 .Form6_select {
    @extend %select;
    width: 266px;
    background-position: 232px 10px;
}

.Form_Elements .Form .Form6 .Form6_select:optional {
    @extend %select_optional;
}

.Form_Elements .Form .Form7 {
    @extend %Form;
    width: 266px;
    label {
        @extend %label;
    }
}

$arrow_right: url("./../Font/arrow_forward-24px.svg") no-repeat;

.Form_Elements .Form .Form7 .Form7_input {
    @extend %Input;
    background: $arrow_right;
    width: 266px;
    background-position: 232px 10px;
}

.Form_Elements .Form .Form7 ::-webkit-input-placeholder {
    @extend %Input_placeholder;
    line-height: 24px;
}

.Form_Elements .Form .Form8 {
    @extend %Form;
    width: 266px;
    label {
        @extend %label;
    }
}

$arrow75: url("./../Font/keyboard_arrow_down-24px75.svg") no-repeat;

.Form_Elements .Form .Form8 .Form8_select {
    @extend %select;
    width: 266px;
    border-radius: 4px 4px 0px 0px;
    background: $arrow75;
    background-position: 232px 10px;
}

.Form_Elements .Form .Form8 .Form8_select:optional {
    @extend %select_optional;
}

.Form_Elements .Form .Form9 {
    @extend %Form;
    width: 266px;
}

.Form_Elements .Form .Form9 .iqdropdown {
    position: relative;
    @extend %select;
    background: $arrow75;
    width: 266px;
    border-radius: 4px 4px 0px 0px;
    background-position: 232px 10px;

    &:focus,
    &:hover {
    @extend %hover_focus;
    border-radius: 4px 4px 0px 0px;
    background: $arrow75;
    background-position: 232px 10px;
    border: 1px solid $dark50;
    }
}

.Form_Elements .Form .Form9 .iqdropdown .iqdropdown-menu {
    position: relative;
    margin: 0 auto;
    margin-top: -38px;
    margin-left: -11px;
    padding: 0;
    width: 266px;
    box-shadow: none;
    border: 1px solid $dark25;
    border-radius: 0px 0px 4px 4px;
    .iqdropdown-menu-option{
        height: 40px;
    };
    &:hover,
    &:focus {
        margin: 0 auto;
        margin-top: -38px;
        margin-left: -11px;
        padding: 0;
        box-shadow: none;
        border: 1px solid $dark50;
        border-radius: 0px 0px 4px 4px;
    }
}

.Form_Elements .Form .Form9 .iqdropdown .iqdropdown-menu p{
    @extend label;
    width: 266px;
    margin: 0 auto;
    margin-left: -3px;
    padding: 0;
}

.Form_Elements .Form .Form9 .iqdropdown .iqdropdown-selection::after {
    display: none;
}

.Form_Elements .Form .Form9 .iqdropdown .iqdropdown-item-controls {
    margin: 0 auto;
    margin-right: -7px;
    padding: 0;
    align-items: flex-end;

    .counter {
        margin: 6px auto;
        padding: 9px;
        border: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        color: $dark100;
    };

    & button {
        align-items: center;
        border: 1px solid $dark25;
        width: 30px;
        height: 30px;
        margin: 7px auto;
        padding: 0;

        &:hover,
        &:focus {
            background: none;
            background-color: none;
            border: 1px solid $dark50;
        };

        &.button-decrement {
            border-radius: 22px;
            background: url('./../Font/remove-black-18dp.svg') no-repeat;
            background-position: 7px 7px;
            .icon-decrement {

                &::after,
                &::before {
                    display: none;
                }

                
            }
        };

        &.button-increment {
            border-radius: 22px;
            background: url('./../Font/add-black-18dp.svg') no-repeat;
            background-position: 7px 7px;
            .icon-increment {

                &::after,
                &::before {
                    display: none;
                }
            }
        }
    }
}
.Form_Elements .Form .Form10 {
    @extend %Form;
    p {
        @extend %label;
        width: 266px;
        float: none;
        background: $arrow50;
        background-position: 232px;
    };
}
.Form_Elements .Form .Form10 .Form11 {
    @extend %Form;
    margin: 0;
    p {
        @extend %label;
        width: 266px;
        float: none;
        // margin: 0;
        background: url('./../Font/expand_more.svg') no-repeat;
        background-position: 238px;
    };
};
%Checkbox_label {
    @extend %label;
    margin: 0 auto;
    padding: 0;
    position: relative;
    right: 10px;
    bottom: 5px;
    // font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $dark50;
    text-transform: none;
    float: none;
}
%Checkbox_input {
    margin: 0;
    position: relative;
    // padding: 10px;
    width: 20px;
    height: 20px;
    float: left;
    opacity: 0;
    z-index: 1;
    border-radius: 4px;
}
%Checkbox_before {
    content: "";
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    right: 10px;
    // float: left;
    top: 5px;
    height: 20px;
    width: 20px;
    border: 1px solid $dark25;
    border-radius: 4px;
}
%Checkbox_after {
    content: "";
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    // float: left;
    // bottom: 128px;
    // right: 89px;
    top: 5px;
    width: 20px;
    height: 20px;
    border: 1px solid $purple;
    border-radius: 4px;
    // background-position: 1 ;
    background: url("./../img/Vector.svg") no-repeat;
    background-position: 4px 2px;
}
.Form_Elements .Form .Form10 .Form_checkbox1{
    @extend %Form;
    margin: 0;
    margin-top: 20px;
    padding: 0;
        #Checkbox1_label {
            @extend %Checkbox_label
        };
        #Checkbox1_input {
            @extend %Checkbox_input
        };
        #Checkbox1_label::before {
            @extend %Checkbox_before;
        };
        #Checkbox1_input:checked + #Checkbox1_label::after {
            @extend %Checkbox_after;
            right: 92.5px;
        };
    }
.Form_Elements .Form .Form10 .Form_checkbox2{
    @extend %Form;
    margin: 0;
    padding: 0;
        #Checkbox2_label {
            @extend %Checkbox_label
        };
        #Checkbox2_input {
            @extend %Checkbox_input
        };
        #Checkbox2_label::before {
            @extend %Checkbox_before;
        };
        #Checkbox2_input:checked + #Checkbox2_label::after {
            @extend %Checkbox_after;
            right: 167px;
        };
    };
.Form_Elements .Form .Form10 .Form_checkbox3{
    @extend %Form;
    margin: 0;
    padding: 0;
        #Checkbox3_label {
            @extend %Checkbox_label
        };
        #Checkbox3_input {
                @extend %Checkbox_input
        };
        #Checkbox3_label::before {
            @extend %Checkbox_before;
        };
        #Checkbox3_input:checked + #Checkbox3_label::after {
            @extend %Checkbox_after;
            right: 185px;
        };
    };
.Form_Elements .Form .Form10 .Form_checkbox4{
        @extend %Form;
        margin: 0;
        padding: 0;
            #Checkbox4_label {
                @extend %Checkbox_label
            };
            #Checkbox4_input {
                    @extend %Checkbox_input
            };
            #Checkbox4_label::before {
                @extend %Checkbox_before;
            };
            #Checkbox4_input:checked + #Checkbox4_label::after {
                @extend %Checkbox_after;
                right: 102.5px;
            };
        };
.Form_Elements .Form .Form10 .Form_checkbox5{
        @extend %Form;
        margin: 0;
        padding: 0;
            #Checkbox5_label {
                @extend %Checkbox_label
            };
            #Checkbox5_input {
                    @extend %Checkbox_input
            };
            #Checkbox5_label::before {
                @extend %Checkbox_before;
            };
            #Checkbox5_input:checked + #Checkbox5_label::after {
                @extend %Checkbox_after;
                right: 112.5px;
            };
        };
.Form_Elements .Form .Form10 .Form_checkbox6{
        @extend %Form;
        margin: 0;
        padding: 0;
            #Checkbox6_label {
                @extend %Checkbox_label
            };
            #Checkbox6_input {
                    @extend %Checkbox_input
            };
            #Checkbox6_label::before {
                @extend %Checkbox_before;
            };
            #Checkbox6_input:checked + #Checkbox6_label::after {
                @extend %Checkbox_after;
                right: 103.5px;
            };
        };
.Form_Elements .Form .Form12 {
    @extend %Form;
    #Form12_2 {
        margin-left: 0;
        width: 280px;
        height: 1px;
        background: $dark10;
    };
    #Form12_1 {
        margin: 0 auto;
        margin-bottom: 20px;
        #Form12_1_1 {
            // position: relative;
            float: left;
            margin: 0 auto;
            margin-right: 10px;
            padding: 0;
            width: 48px;
            height: 48px;
            background: url('./../img/insert_emoticon.svg') no-repeat;
            background-position: center;
        };
        #Form12_1_2 {
            // position: relative;
            margin: 0;
            padding: 0;
            
            // float: left;
            #Form12_2_1 {
                margin: 0 auto;
                padding: 0;
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
            };
            #Form12_2_2 {
                margin: 0 auto;
                padding: 0;
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
            };
        }
    }
}
.Form_Elements .Form .Form13 {
    @extend %Form;
    #Form13_2 {
        margin-left: 0;
        width: 280px;
        height: 1px;
        background: $dark10;
    };
    #Form13_1 {
        margin: 0 auto;
        margin-bottom: 20px;
        #Form13_1_1 {
            // position: relative;
            float: left;
            // top: 100px;
            margin: 0;
            margin-right: 10px;
            padding: 0;
            width: 48px;
            height: 48px;
            background: url('./../img/location_city.svg') no-repeat;
            background-position: center;
        };
        #Form13_1_2 {
            // position: relative;
            // left: 100px;
            // float: left;
            margin: 0 auto;
            padding: 0;
            #Form13_2_1{
                margin: 0 auto;
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
            };
            #Form13_2_2{
                margin: 0 auto;
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
    }
}
.Form_Elements .Form_2 .Form1 {
    @extend %Form;
    p {
        @extend %label;
        width: 266px;
        margin-left: 5px;
        margin-bottom: 10px;
    };
    form {
        float: left;
        margin: 5px;
        #Checkbox1_label {
            @extend %Checkbox_label;
        };
        #Checkbox2_label {
            @extend %Checkbox_label;
        };
        #Checkbox3_label {
            @extend %Checkbox_label;
        };
        #Checkbox1_label::before {
            @extend %Checkbox_before;
        };
        #Checkbox2_label::before {
            @extend %Checkbox_before;
        };
        #Checkbox3_label::before {
            @extend %Checkbox_before;
        };
        input {
            @extend %Checkbox_input;
        };
        input:checked + #Checkbox1_label::after {
            @extend %Checkbox_after;
            right: 136.5px;
        };
        input:checked + #Checkbox2_label::after {
            @extend %Checkbox_after;
            right: 183px;
        };
        input:checked + #Checkbox3_label::after {
            @extend %Checkbox_after;
            right: 224px;
        };
        span {
            @extend %Checkbox_label;
            margin-left: 40px;
        }
    }
}
.Form_Elements .Form_2 .Form2{
    @extend %Form;
    p {
        @extend %label;
        width: 266px;
        margin-top: 20px;
        margin-left: 5px;
        margin-bottom: 10px;
    };
    form {
        float: left;
        margin: 15px;
        #RadioButtons_m_label {
            @extend %Checkbox_label;
            bottom: 0px;
            right: 0px;
        };
        #RadioButtons_m_label :active {
            @extend %Checkbox_label;
            bottom: 0px;
            right: 0px;
            font-family: Montserrat;
            font-weight: bold;
            font-style: normal;
            // font-weight: normal;
            font-size: 14px;
            line-height: 24px;
        };
        #RadioButtons_m {
            @extend %Checkbox_input;
            right: 10px;
            border-radius: 10px;
            background: #FFFFFF;
            border: 1px solid $dark25;
            opacity: 1;
            z-index: 0;
        };
        #RadioButtons_m:checked + #RadioButtons_m_label {
            @extend %Checkbox_label;
            bottom: 0px;
            right: 0px;
            color: $dark75;
        };
        #RadioButtons_m:checked + #RadioButtons_m_label::before {
            @extend %Checkbox_before;
            position: absolute;
            right: 79px;
            top: -1px;
            margin: 0;
            padding: 0;
            border-radius: 10px;
            box-sizing: border-box;
            border: 1px solid $purple;
            background: #FFFFFF;
            z-index: 1;
        };
        #RadioButtons_m:checked + #RadioButtons_m_label::after {
            @extend %Checkbox_after;
            position: absolute;
            margin: 0;
            padding: 0;
            width: 12px;
            height: 12px;
            top: 3px;
            right: 83px;
            border-radius: 10px;
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            z-index: 1;
        };
        #RadioButtons_w_label {
            @extend %Checkbox_label;
            bottom: 0px;
            right: 0px;
        };
        #RadioButtons_w {
            @extend %Checkbox_input;
            right: 10px;
            border-radius: 10px;
            background: #FFFFFF;
            border: 1px solid $dark25;
            opacity: 1;
            z-index: 0;
        };
        #RadioButtons_w:checked + #RadioButtons_w_label {
            @extend %Checkbox_label;
            bottom: 0px;
            right: 0px;
            color: $dark75;
        };
        #RadioButtons_w:checked + #RadioButtons_w_label::before {
            @extend %Checkbox_before;
            position: absolute;
            right: 82.5px;
            top: -1px;
            margin: 0;
            padding: 0;
            border-radius: 10px;
            box-sizing: border-box;
            border: 1px solid $purple;
            background: #FFFFFF;
            z-index: 1;
        };
        #RadioButtons_w:checked + #RadioButtons_w_label::after {
            @extend %Checkbox_after;
            position: absolute;
            margin: 0;
            padding: 0;
            width: 12px;
            height: 12px;
            top: 3px;
            right: 86.5px;
            border-radius: 10px;
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            z-index: 1;
        };
    }
}