@import "./logo";
@import "./Colors_Tupe.scss";
@import "./Form_Elements.scss";

@font-face {
    font-family: "QuicksandBold";
    src: url('../Font/quicksand/Quicksand-Bold.otf');
  }
@font-face {
    font-family: "Quicksand";
    src: url('../Font/quicksand/Quicksand-Regular.otf');
  }
@font-face {
    font-family: "Montserrat";
    src: url('../Font/montserrat/Montserrat-Medium.otf');
  }