.icon-card
    .insert-emoticon
        .icon-img
            img(src="./assets/insert_emoticon.svg" alt="img")
        .content
            span Комфорт
            p Шумопоглощающие стены
        hr
    .location-city
        .icon-img
            img(src="./assets/location_city.svg" alt="img")
        .content
            span Удобство
            p Окно в каждой из спален
        hr