form(action="#" class="toggle")
    h3 Toggle
    .toggle-buttons
        .toggle-button
            input(type="checkbox" id="toggle-button-1" name="toggle-button" checked)
            label(for="toggle-button-2") Получать спецпредложения
        .toggle-button
            input(type="checkbox" id="toggle-button-2" name="toggle-button")
            label(for="toggle-button-2") Получать спецпредложения