form(action="#" method="method" class="Toggle")
    h3 Toggle
    .button_toggle 
        input(type="checkbox" id="toggle_button" name="toggle_button" checked)
        label(for="toggle_button") Получать спецпредложения
    .button_toggle
        input(type="checkbox" id="toggle_button" name="toggle_button")
        label(for="toggle_button") Получать спецпредложения