form(action="#" class="expandable_checkbox_list_activ")
    h3 expandable checkbox list
    div
        span 
            input(type="checkbox" name="checkbox_list")
            label(for="checkbox_list") Завтрак
        span 
            input(type="checkbox" name="checkbox_list")
            label(for="checkbox_list") Письменный стол
        span 
            input(type="checkbox" name="checkbox_list")
            label(for="checkbox_list") Стул для кормления
        span
            input(type="checkbox" name="checkbox_list")
            label(for="checkbox_list") Кроватка
        span
            input(type="checkbox" name="checkbox_list")
            label(for="checkbox_list") Телевизор
        span
            input(type="checkbox" name="checkbox_list")
            label(for="checkbox_list") Шампунь