.buttons_group
    h3 buttons
    .buttons
        .button_gradient
            button(class="button-linear_gradient") CLICK ME
            button(class="button-linear_gradient" disabled) CLICK ME
        .button-border_gradient
            button(class="button-border_linear__gradient") CLICK ME
            button(class="button-border_linear__gradient" disabled) CLICK ME
        .button-no_border
            button(class="no_border") CLICK ME
            button(class="no_border" disabled) CLICK ME
        .button-big
            button(class="big") перейти к оплате