.buttons-group {
    h3 {
        margin-bottom: 16px;
    }

    .buttons {
        display: grid;
        grid-template-rows: 44px 44px 15px 44px;
        row-gap: 30px;

        .button-gradient {
            display: grid;
            grid-template-columns: 99px 99px;
            column-gap: 20px;

            .button-linear-gradient {
                width: 99px;
                height: 44px;
                background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
                border-radius: 22px;
                @include fontFamily_Montserrat(12px, 700, 15px, center, #ffffff);
                text-transform: uppercase;

                &:disabled {
                    opacity: 0.5;
                }
            }
        }

        .button-border-gradient {
            display: grid;
            grid-template-columns: 99px 99px;
            column-gap: 20px;

            .button-border-linear-gradient {
                width: 99px;
                height: 44px;
                @include fontFamily_Montserrat(12px, 700, 15px, center, $purple);
                text-transform: uppercase;
                border-radius: 22px;
                background: #ffffff;
                background-image: url("./../image/border-gradient.svg");

                &:disabled {
                    background-image: url("./../image/border-gradient-disabled.svg");
                }
            }
        }

        .button-no-border {
            display: grid;
            grid-template-columns: 61px 61px;
            column-gap: 20px;

            .no-border {
                width: 61px;
                @include fontFamily_Montserrat(12px, 700, 15px, center, $purple);
                text-transform: uppercase;
                background: #ffffff;

                &:disabled {
                    color: $dark50;
                }
            }
        }

        .button-big {
            // display: grid;
            position: relative;
            max-width: 320px;
            // height: 44px;

            .big {
                width: 320px;
                height: 44px;
                background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
                border-radius: 22px;
                @include fontFamily_Montserrat(12px, 700, 15px, center, #ffffff);
                text-transform: uppercase;
            }

            &::after {
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                background: url("./../image/arrow_forward_white.svg") no-repeat;
                top: 12px;
                right: 12px;
                cursor: pointer;
            }
        }
    }
}
