block var_button
    mixin btn(text)
        button&attributes(attributes)=text

.buttons-group
    h3 buttons
    .buttons
        .button-gradient
            +btn("click me")(class="button-linear-gradient")
            +btn("click me")(class="button-linear-gradient" disabled)
        .button-border-gradient
            +btn("click me")(class="button-border-linear-gradient")
            +btn("click me")(class="button-border-linear-gradient" disabled)
        .button-no-border
            +btn("click me")(class="no-border")
            +btn("click me")(class="no-border" disabled)
        .button-big
            +btn("перейти")(class="big")