.buttons-group
    h3 buttons
    .buttons
        .button-gradient
            button(class="button-linear-gradient") CLICK ME
            button(class="button-linear-gradient" disabled) CLICK ME
        .button-border-gradient
            button(class="button-border-linear-gradient") CLICK ME
            button(class="button-border-linear-gradient" disabled) CLICK ME
        .button-no-border
            button(class="no-border") CLICK ME
            button(class="no-border" disabled) CLICK ME
        .button-big
            button(class="big") перейти к оплате