.colors
    #dark100
    p Dark Shade 100%<br><span>#1F2041</span>
    #dark75
    p Dark Shade 75%<br><span>#1F2041</span>
    #dark50
    p Dark Shade 50%<br><span>#1F2041</span>
    #dark25
    p Dark Shade 25%<br><span>#1F2041</span>
    #dark05
    p Dark Shade 5%<br><span>#1F2041</span>
    #purple
    p Purple<br><span>#BC9CFF</span>
    #green
    p Green<br><span>#6FCF97</span>