.Colors 
    .Colors_Block 
        #Dark100 
        #Dark75 
        #Dark50 
        #Dark25 
        #Dark05
        #Purple 
        #Green  
    .Colors_Content 
        div 
            p Dark Shade 100%<br><span>#1F2041</span>
        div 
            p Dark Shade 75%<br><span>#1F2041</span>
        div 
            p Dark Shade 50%<br><span>#1F2041</span>
        div 
            p Dark Shade 25%<br><span>#1F2041</span>
        div 
            p Dark Shade 5%<br><span>#1F2041</span>
        div 
            p Purple<br><span>#BC9CFF</span>
        div 
            p Green<br><span>#6FCF97</span>