.colors
    .colors-block
        #dark100
        #dark75
        #dark50
        #dark25
        #dark05
        #purple
        #green
    .colors-content
        p Dark Shade 100%<br><span>#1F2041</span>
        p Dark Shade 75%<br><span>#1F2041</span>
        p Dark Shade 50%<br><span>#1F2041</span>
        p Dark Shade 25%<br><span>#1F2041</span>
        p Dark Shade 5%<br><span>#1F2041</span>
        p Purple<br><span>#BC9CFF</span>
        p Green<br><span>#6FCF97</span>