.form-dropdown {
    max-width: 320px;
    h3 {
        margin-bottom: 5px;
        float: left;
    }
    .form-input {
        @extend %text_field;
        background: url('./../image/expand_more.svg') no-repeat;
        background-position: 290px 18px;
        @include fontFamily_Montserrat (14px,
        400,
        18px,
        left,
        $dark75);
    }
}