form(action="#" method="method" class="rich__checkbox-buttons")
    h3 rich Checkbox Buttons 
    .checkbox_list
        .checkbox_buttons_list
            input(type="checkbox" name="rich_checkbox_button" id="rich_checkbox_1")
            .checkbox_label_1 
                label(for="rich_checkbox_1") Широкий коридор
                p Ширина коридоров в номере не менее 91 см.
        .checkbox_buttons_list
            input(type="checkbox" name="rich_checkbox_button" id="rich_checkbox_2")
            .checkbox_label_2
                label(for="rich_checkbox_2") Помощник для инвалидов
                p На 1 этаже вас встретит специалист  и проводит до номера.
