doctype html
html(lang='en')
    head
        title test
    body
        h1 test 2
        hr
        <div class="logo">
            <div class="logo1"></div>
            <div class="logo2"></div>
        </div>
            
            
