.dropdown-default {
    width: 266px;

    label {
        h3 {
            margin-bottom: 5px;
            float: left;
        }
    }

    #label-right {
        h3 {
            margin-bottom: 5px;
            font-weight: 400;
            line-height: 14.63px;
            color: $dark50;
            float: right;
        }
    }

    .form-input {
        @extend %text_field;
        width: 266px;
        background: url('./../image/expand_more_75.svg') no-repeat;
        background-position: 236px 18px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        @include fontFamily_Montserrat (14px, 400, 24px, left, $dark75);
    }
}