h1 {
    color: red;
    text-align: center;
}
.logo {
    background-image: url("./../img/image.png");
    background-size: cover;
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 100px;
}