h1 {
    color: red;
    text-align: center;
}
.logo {
    background-image: url("../img/Vector.jpg");
    position: absolute;
width: 48px;
height: 48px;
left: 30px;
top: 30px;
}
.logo1 {
    background-image: url("../img/Vector (2).jpg");
    position: relative;
width: 14.12px;
height: 14.12px;
left: 11px;
top: 20px;
}
.logo2 {
    background-image: url("../img/Vector (1).jpg");
    position: relative;
width: 10.94px;
height: 7.09px;
left: 25px;
top:5px;
}
