.expandable-checkbox-list {
    width: 266px;
    height: 44px;
    h3 {
        background: url('./../image/expand_more.svg') no-repeat;
        background-position: 236px;
        height: 44px;
        display: grid;
        align-items: center;
    }
}