.Text_Field
    form(action="#" class="Form_1")
        label 
            h3 Text field
        label(id="label_right")
            h3 Default
        input(type="email" class="Form_Input" placeholder="Email")
    form(action="#" class="Form_2")
        label 
            h3 Text field
        label(id="label_right")
            h3 Hover / Focus
        input(type="text" class="Form_Input" value="This is pretty awesome")
    form(action="#" class="Form_3")
        label 
            h3 Dropdown
        input(type="text" class="Form_Input" value="Сколько гостей" readonly)
    form(action="#" class="Form_4")
        label 
            h3 masked text field
        input(type="text" class="Form_Input masked_text_field" placeholder="ДД.ММ.ГГГГ" )
    form(action="#" class="Form_5")
        div
            label 
                h3 date Dropdown
            input(type="text" class="Form_Input data_dropdown_start" )
        div 
            label 
                h3 date Dropdown
            input(type="text" class="Form_Input data_dropdown_finish" value='19.08.2019' )
    form(action="#" class="Form_6")
        label 
            h3 filter date dropdown
        input(type="text" class="Form_Input" value='19 авг - 23 авг' )
    form(action="#" class="Form_7")
        label 
            h3 subscription text field
        input(type="email" class="Form_Input" placeholder="Email" )
    form(action="#" class="Form_8")
        label 
            h3 dropdown
        label(id="label_right")
            h3 Default
        input(type="text" class="Form_Input" value='2 спальни, 2 кровати...' )
    .Form_9 
        include ./drop_down/drop_down.pug
    .Form_10
        include ./expandable_checkbox_list/expandable_checkbox_list.pug 
    .Form_11
        include ./expandable_checkbox_list/expandable_checkbox_list_activ.pug
    .Form_12
        include ./icon_card/icon_card.pug

