include /logo.pug
.Colors_Type
    .Colors
        .Dark100
        p <span>Dark Shade <b>100%</b></span><br>#1F2041
        .Dark75
        p <span>Dark Shade <b>75%</b></span><br>#1F2041
        .Dark50 
        p <span>Dark Shade <b>50%</b></span><br>#1F2041
        .Dark25 
        p <span>Dark Shade <b>25%</b></span><br>#1F2041
        .Dark05 
        p <span>Dark Shade <b>5%</b></span><br>#1F2041
        .Purple 
        p <span>Purple</span><br>#BC9CFF
        .Green 
        p <span>Green</span><br>#6FCF97
    .TypeText
        .TypeTextH1 <p>H1</p>
        H1 This one is the sub-section or widget title
        .TypeTextH2 <p>H2</p>
        H2 Next one is the item title inside widgets
        .TypeTextH3 <p>H3</p>
        H3 This is a label or CTA text
        .TypeTextBody <p>Body</p>
        p This is the body text which is used for most of the design, like paragraphs, lists, etc.
