.Colors_Type
    .Colors
        .Dark100
        p Dark Shade 100% #1F2041
        .Dark75
        p Dark Shade 75% #1F2041
        .Dark50 
        p Dark Shade 50% #1F2041
        .Dark25 
        p Dark Shade 25% #1F2041
        .Dark05 
        p Dark Shade 5% #1F2041
        .Purple 
        p Purple #BC9CFF
        .Green 
        p Green #6FCF97
    .TypeText
        .TypeTextH1 H1
        H1 This one is the sub-section or widget title
        .TypeTextH2 H2
        H2 Next one is the item title inside widgets
        .TypeTextH3 H3
        H3 This is a label or CTA text
        .TypeTextBody Body
        p This is the body text which is used for most of the design, like paragraphs, lists, etc.
