div
    include /logo.pug
    .Form_Elements
        .Form
            .Form1
                form(action="#")
                    label(for="Form1_input") Text field
                    label(for="Form1_input" id="label_right") Default
                    input(type="email" name="Form1_input" class="Form1_input" placeholder="Email")
            .Form2
                form(action="#")
                    label(for="Form2_input") Text field
                    label(for="Form2_input" id="label_right") Hover / Focus
                    input(type="text" name="Form2_input" class="Form2_input" placeholder="This is pretty awesome")
            .Form3
                form
                    label(for="Form3_select") Dropdown
                    select(name="Form3_select" class="Form3_select")
                        option(value="#") Сколько гостей
            .Form4
                form
                    label(for="Form4_input") masked text field
                    input(type="text" class="Form4_input" name="Form4_input" placeholder="ДД.ММ.ГГГГ")
            .Form5
                form
                    label(for="Form5_1_select") date dropdown
                    select(name="Form5_1_select" class="Form5_1_select")
                        option(value="#") ДД.ММ.ГГГГ
                form
                    label(for="Form5_2_select") date dropdown
                    select(name="Form5_2_select" class="Form5_2_select")
                        option(value="#") 19.08.2019
            .Form6
                form(action="#")
                    label(for="Form6_select") filter date dropdown
                    select(name="Form6_select" class="Form6_select")
                        option(value="#") 19 авг - 23 авг
            .Form7
                form(action="#")
                    label(for="Form7_input") subscription text field
                    input(type="text" name="Form7_input" class="Form7_input" placeholder="Email")
            .Form8
                form(action="#")
                    label(for="Form8_select") dropdown
                    label(for="Form8_select" id="label_right") Default
                    select(name="Form8_select" class="Form8_select")
                        option(value="#") 2 спальни, 2 кровати...
            .Form9
                div(class="iqdropdown")
                    p(class="iqdropdown-selection")
                    div(class="iqdropdown-menu")
                        div(class="iqdropdown-menu-option" data-id="item1" data-mincount="0" data-maxcount="10")
                            p(class="iqdropdown-item") спальни
                        div(class="iqdropdown-menu-option" data-id="item2" data-mincount="0" data-maxcount="10")
                            p(class="iqdropdown-item") кровати
                        div(class="iqdropdown-menu-option" data-id="item3" data-mincount="0" data-maxcount="5")
                            p(class="iqdropdown-item") ванные комнаты
            br
            br
            br
            br
            br
            .Form10    
                p expandable checkbox list
            .Form12
                #Form12_1
                    #Form12_1_1
                    #Form12_1_2
                        p(id='Form12_2_1') Комфорт
                        p(id='Form12_2_2') Шумопоглощающие стены
                #Form12_2
            .Form13
                #Form13_1
                    #Form13_1_1
                    #Form13_1_2
                        p(id='Form13_2_1') Удобство
                        p(id='Form13_2_2') Окно в каждой из спален
                #Form13_2
        .Form_2
            .Form1
                p Checkbox Buttons
                form(action="")
                    input(type='checkbox' name='CheckboxButtons_1' id='Checkbox1_input')
                    label(for='CheckboxButtons_1' id='Checkbox1_label') Можно курить
                form(action="")
                    input(type='checkbox' name='CheckboxButtons_2')
                    label(for='CheckboxButtons_3' id='Checkbox2_label') Можно с питомцами
                form(action="")
                    input(type='checkbox' name='CheckboxButtons_3')
                    label(for='CheckboxButtons_3' id='Checkbox3_label') Можно пригласить гостей
                    <br><span>(до 10 человек)</span>
            .Form2
                p Radio Buttons
                form(action="")
                    input(type='radio' name='RadioButtons_m' id='RadioButtons_m')
                    label(for='RadioButtons_m' id='RadioButtons_m_label') Мужчина
                form(action="")
                    input(type='radio' name='RadioButtons_w' id='RadioButtons_w')
                    label(for='RadioButtons_w' id='RadioButtons_w_label') Женщина
            .Form3
                p Toggle
                form(action="")
                    input(type='checkbox' name='toggle' id='toggle_1')
                    label(for="toggle" id='toggle_label_1') Получать спецпредложения
                form(action="")
                    input(type='checkbox' name='toggle' id='toggle_2')
                    label(for="toggle" id='toggle_label_2') Получать спецпредложения
            .Form4
                p like button
                div(class='button')
                    button(class='button_deactive')
                        span 2
                    button(class='button_active')
                        span 12