form(action="#" class="expandable-checkbox-list__active")
    h3 expandable checkbox list
    .dropdown-checkbox-list
        span 
            input(type="checkbox" name="checkbox-list")
            label Завтрак
        span 
            input(type="checkbox" name="checkbox-list")
            label Письменный стол
        span 
            input(type="checkbox" name="checkbox-list")
            label Стул для кормления
        span
            input(type="checkbox" name="checkbox-list")
            label Кроватка
        span
            input(type="checkbox" name="checkbox-list")
            label Телевизор
        span
            input(type="checkbox" name="checkbox-list")
            label Шампунь