form(action="#" class="expandable-checkbox-list__active")
    h3 expandable checkbox list
    .dropdown-checkbox-list
        span 
            input(type="checkbox" name="checkbox-list")
            label(for="checkbox-list") Завтрак
        span 
            input(type="checkbox" name="checkbox-list")
            label(for="checkbox-list") Письменный стол
        span 
            input(type="checkbox" name="checkbox-list")
            label(for="checkbox-list") Стул для кормления
        span
            input(type="checkbox" name="checkbox-list")
            label(for="checkbox-list") Кроватка
        span
            input(type="checkbox" name="checkbox-list")
            label(for="checkbox-list") Телевизор
        span
            input(type="checkbox" name="checkbox-list")
            label(for="checkbox-list") Шампунь