.rate-button
    h3 rate button
    .rate-button-stars-form1
        form(action="#" class="rate-button-stars-1")
                input(type="radio" id="rate-button-1-5" class="rate-button-item" name="rate-button" value="5")
                label(for="rate-button-1-5" class="rate-button-label") 
                input(type="radio" id="rate-button-1-4" class="rate-button-item" name="rate-button" value="4" checked)
                label(for="rate-button-1-4" class="rate-button-label") 
                input(type="radio" id="rate-button-1-3" class="rate-button-item" name="rate-button" value="3")
                label(for="rate-button-1-3" class="rate-button-label") 
                input(type="radio" id="rate-button-1-2" class="rate-button-item" name="rate-button" value="2")
                label(for="rate-button-1-2" class="rate-button-label") 
                input(type="radio" id="rate-button-1-1" class="rate-button-item" name="rate-button" value="1")
                label(for="rate-button-1-1" class="rate-button-label")
    .rate-button-stars-form2
        form(action="#" class="rate-button-stars-2")
                input(type="radio" id="rate-button-2-5" class="rate-button-item" name="rate-button" value="5" checked)
                label(for="rate-button-2-5" class="rate-button-label") 
                input(type="radio" id="rate-button-2-4" class="rate-button-item" name="rate-button" value="4")
                label(for="rate-button-2-4" class="rate-button-label") 
                input(type="radio" id="rate-button-2-3" class="rate-button-item" name="rate-button" value="3")
                label(for="rate-button-2-3" class="rate-button-label") 
                input(type="radio" id="rate-button-2-2" class="rate-button-item" name="rate-button" value="2")
                label(for="rate-button-2-2" class="rate-button-label") 
                input(type="radio" id="rate-button-2-1" class="rate-button-item" name="rate-button" value="1")
                label(for="rate-button-2-1" class="rate-button-label") 