.rate_button
    h3 rate button
    .rate_button_stars_form1
        form(action="#" class="rate_button_stars_1")
                input(type="radio" id="rate_button_1_5" class="rate_button_item" name="rate_button" value="5")
                label(for="rate_button_1_5" class="rate_button_label") 
                input(type="radio" id="rate_button_1_4" class="rate_button_item" name="rate_button" value="4" checked)
                label(for="rate_button_1_4" class="rate_button_label") 
                input(type="radio" id="rate_button_1_3" class="rate_button_item" name="rate_button" value="3")
                label(for="rate_button_1_3" class="rate_button_label") 
                input(type="radio" id="rate_button_1_2" class="rate_button_item" name="rate_button" value="2")
                label(for="rate_button_1_2" class="rate_button_label") 
                input(type="radio" id="rate_button_1_1" class="rate_button_item" name="rate_button" value="1")
                label(for="rate_button_1_1" class="rate_button_label")
    .rate_button_stars_form2
        form(action="#" class="rate_button_stars_2")
                input(type="radio" id="rate_button_2_5" class="rate_button_item" name="rate_button" value="5" checked)
                label(for="rate_button_2_5" class="rate_button_label") 
                input(type="radio" id="rate_button_2_4" class="rate_button_item" name="rate_button" value="4")
                label(for="rate_button_2_4" class="rate_button_label") 
                input(type="radio" id="rate_button_2_3" class="rate_button_item" name="rate_button" value="3")
                label(for="rate_button_2_3" class="rate_button_label") 
                input(type="radio" id="rate_button_2_2" class="rate_button_item" name="rate_button" value="2")
                label(for="rate_button_2_2" class="rate_button_label") 
                input(type="radio" id="rate_button_2_1" class="rate_button_item" name="rate_button" value="1")
                label(for="rate_button_2_1" class="rate_button_label") 