form(action="#" class="radio-buttons" method="method")
    h3 Radio Buttons
    div
        span
            input(type="radio" name="radio-button" id="radio-button__men")
            label(for="radio-button__men") Мужчина
        span
            input(type="radio" name="radio-button" id="radio-button__women")
            label(for="radio-button__women") Женщина