form(action="#" class="Radio_Buttons" method="method")
    h3 Radio Buttons
    div
        span
            input(type="radio" name="radio_button" id="radio_button_men")
            label(for="radio_button_men") Мужчина
        span
            input(type="radio" name="radio_button" id="radio_button_women")
            label(for="radio_button_women") Женщина